@media screen and (max-width: 600px) {
    .home nav ul{
        display: none;
    }
    .meal {
        width: 100%;
    }
    .nav-logo {
        width: 30%;
    }
    .about-img, .about-cap {
        width: 100%;
    }
    .location-cap, .location-img {
        width: 100%;
    }
    .location-img {
        order: -1;
    }

    .home nav {
        display: flex;
        justify-content: center;
    }
    .contact-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact-item {
        width: 100%;
    }
    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 100px;
    }
    .footer-col {
        width: 100%;
    }
}
@media screen and (min-width: 600px) and (max-width: 768px) {
    .gallery-meals {
        padding: 40px;
    }
    .meal {
        width: 50%;
        padding: 10px;
    }
}