* {
    margin: 0;
}
.nav-logo {
    width: 13%;
    height: 50px;
    float: left;
}
.nav-logo img{
    width: 100%;
    height: 100%;
}
.home nav {
    color: white;
    padding: 20px;
    width: 90%;
    margin: auto;
}
.home ul li {
    float: left;
    margin: 0 20px;
}
.home ul li a {
    text-decoration: none;
    color: white;
}
.home ul {
    float: right;
    list-style: none;
}
.clearfix {
    clear: both;
}
.home {
    color: white;
    text-align: center;
    background-image: url("images/pic6.jpg");
    background-size: 100% 100%;
    background-position: center center;
    height: 100vh;
    box-sizing: border-box;
}
.home-cap {
    margin: 100px 0;
}
h1 {
    margin: 30px 0;
}
.btn {
    color: white;
    padding: 17px;
    border-radius: 10%;
    margin: 20px 10px;
    border: none;
}
.btn1 {
    background-color: #8e7754;
}
.btn2 {
    background-color: transparent;
    border: 2px solid white;
}
.about {
    width: 90%;
    margin: 100px auto auto;
}
.about-cap {
    padding-top: 50px;
    width: 40%;
    text-align: center;
    float: right;
}
.about-cap p {
    margin: 30px 0;
}
.about-list  {
    text-align:    left;
}
.about-list ul li {
    padding: 20px 0;
}
.about-img {

    float: left;
    width: 50%;
    height: 500px;
}
.about-img img {
    width: 100%;
    height: 100%;
}

.location {
    margin: 100px auto auto;
    width: 90%;
}
.location-cap {
    padding-top: 50px;
    float: left;
    width: 40%;
    text-align: center;
}
.location-img {
    float: right;
    width: 50%;
}
.location-img img {
    width: 100%;
    height: 100%;
}
.location-cap p {
    margin: 60px 0;
}
.gallery {
    width: 90%;
    text-align: center;
    margin: 100px auto auto;
}

.gallery-cap {
    text-align: center;
}

.inner img {
    width: 100%;
    height: 100%;
}
.meal {
    float: left;
    width: 33%;
    padding: 20px;
    box-sizing: border-box;
}
