* {
    margin: 0;
    box-sizing: border-box;
}
.nav-logo {
    width: 13%;
    height: 50px;
}
.nav-logo img{
    width: 100%;
    height: 100%;
}
.home nav {
    color: white;
    padding: 20px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.home ul li {
    margin: 0 20px;
}
.home ul li a {
    text-decoration: none;
    color: white;
}
.home ul {
    display: flex;
    list-style: none;
}
.home {
    color: white;
    text-align: center;
    background-image: url("images/pic6.jpg");
    background-size: 100% 100%;
    background-position: center center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20%;
}
h1 {
    margin: 30px 0;
}
.btn {
    color: white;
    padding: 17px;
    border-radius: 10%;
    margin: 20px 10px;
    border: none;
}
.btn1 {
    background-color: #8e7754;
}
.btn2 {
    background-color: transparent;
    border: 2px solid white;
}
.about {
    width: 90%;
    margin: 100px auto auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-cap {
    padding-top: 50px;
    width: 40%;
    text-align: center;
}
.about-cap p {
    margin: 30px 0;
}
.about-list  {
    text-align:    left;
}
.about-list ul li {
    padding: 20px 0;
}
.about-img {

    width: 50%;
    height: 500px;
}
.about-img img {
    width: 100%;
    height: 100%;
}

.location {
    margin: 100px auto auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.location-cap {
    order: -1;
    padding-top: 50px;
    width: 40%;
    text-align: center;
}
.location-img {
    width: 50%;
}
.location-img img {
    width: 100%;
    height: 100%;
}
.location-cap p {
    margin: 60px 0;
}
.gallery {
    width: 90%;
    text-align: center;
    margin: auto;
    padding: 50px;
}

.gallery-cap {
    text-align: center;
}

.inner img {
    width: 100%;
    height: 100%;
}
.meal {
    width: 33%;
    padding: 20px;
}
.gallery-meals {
    display: flex;
    flex-wrap: wrap;
}

.get-in-touch {
    padding: 80px 0;
    text-align: center;
    background-color: #f8f8f8;
}

.get-in-touch h3 {
    font-size: 35px;
    margin-bottom: 40px;
    color: #333;
}

.contact-content {
    display: flex;
    padding: 0 40px;
    justify-content: space-between;
    gap: 40px;
}
.contact-item {
    width: calc(50% - 20px);
    padding: 20px;
}
.contact-form {
    display: flex;
    flex-direction: column;
}
.contact-item h4 {
    margin-bottom: 20px;
    color: #8e7754;
    font-size: 25px;
}
.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact-form form input,
.contact-form form textarea
{
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
}
.contact-item p{
    margin: 10px 0;
    color: #666;
}
.btn {
    border-radius: 10px;
    cursor: pointer;
}
